*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}


body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 5px;
    background-color: #cfd1e6;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    grid-column: 2/12;
    height: 10vh;

}
main{
    border-radius: 10px;
    background-color: whitesmoke;
    grid-column: 2/12;
    box-shadow: 0 0 6px black;
    

}
.section-label{
    padding-bottom: 20px;
    font-size: 2rem;
    color: rgb(55, 2, 55);
}
/*resume Header*/
.res-header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url("./images/res-background.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 30px;
    gap: 10px;
 
}


.res-bio{
    display: flex;
    flex-direction: column;
    flex-basis:auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.res-bio--name{
    font-size: 3.5rem;
    flex: 1 1 0px;
    
}
.res-bio--paragraph, .res-bio-btnContainer{
    flex: 1 1 0px;
    display: flex;
    align-items: center;
}
.res-bio--paragraph{
    font-size: 1.8rem;
}
.res-bio-btnContainer{
    display: flex;
    gap: 20px;
}
.res-bio-btnContainer>a{
    text-decoration: none;
    color:white;
    border: none;
    width: 100px;
    padding:10px;
    background-color: rgb(228, 38, 228);
    text-align: center;
    border-radius: 25px;
    transition: all 0.3s ease;
    transform: scale(1)


}
.contact-tag:hover{
    transform: scale(1.05);
}

.img{
    height: 200px;
    width: 250px;
    background-color: white;
    
}

.bio-btn{
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
}

#download-btn{
    width: 120px;

}
#hire-tag{
    width: 100px;
}



/* about section*/
.about{
    display: flex;
    padding: 30px;
    gap: 30px;
    border-bottom: 1px solid grey;
}
.summary, .info{
    flex: 1 1 0px;
}
.summary h2{
   padding-bottom: 20px;
}
.info-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
}

.center-list{
    justify-self: center;
}




/* skills */

.skills-section{
    
    padding: 30px;
    border-bottom: 1px solid grey;

}
.skill{
    width: 50px;
    height: auto;
    justify-self: center;
}
.skill-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.skill-svgs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    
}
.skill-list,.learn-list{
    display: flex;
    justify-content: center;
    text-align: center;
}
.skills,.learn-skills{
    display: flex;
    flex-direction: column;
    list-style: none;
    
}
.skills li ,.learn-skills li{
    flex: 1 1 0px;
}




/*Work XP*/

.work-experience{
    padding: 30px;
    border-bottom: 1px solid grey;
}
.work-card-container{
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid violet;
    display: grid;
    grid-template-columns: 30px 1fr;
    row-gap: 20px;
}
.work-card{
    border-left: 3px solid rgb(78, 143, 240);
    box-shadow: 0 0 3px purple;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.connection{
    padding-top: 20px;
}
span{
    color:grey;
}



/*Project Section*/
.projects{
    padding: 30px;
    border-bottom: 1px solid grey;
}


.project-card-container{
    padding-top: 20px;
    display: flex;
    gap: 10px;


}
.project-card{
    box-shadow: 0 0 3px blue;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.proj-img{
    width: 100%;
    height: 150px;
}
.proj-icon{
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
    transform: scale(1);

}
.proj-icon:hover{
    transform: scale(1.25);

}
.project-links{
    display: flex;
    justify-content: flex-end;
    gap:10px;
}
.icon{
    transition: all 0.3s ease;
    transform: scale(1);
}
.icon:hover{
    transform: scale(1.25);
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;  
}

input{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px grey;
    height: 25px;
}
textarea{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px grey
}
label{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tex-area{
    width: 100%;
}
#contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    
}

#contact>h2{
    grid-column: 1/3;
    
}
.contact-info{
    align-items: center;
}
.contact-list-container{
    display: flex;
    align-items: center;
}

#submit{
    padding: 10px;
    width: 100px;
    border: none;
    background-color: purple;
    color: white;
    font-size: 1.2rem;
    border-radius: 25px;
    transition: all 0.3s ease;
    transform: scale(1);
}
#submit:hover{
    transform: scale(1.05);
}
/*media Queries */



footer{
    grid-column: 2/12;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width:1500px){
    header{
        grid-column: 3/11;
    }
    main{
        grid-column: 3/11;
    }
    footer{
        grid-column: 3/11;
        
    }

}

@media screen and (min-width:1500px){
    header{
        grid-column: 4/10;
    }
    main{
        grid-column: 4/10;
    }
    footer{
        grid-column: 4/10;
        
    }
}